@use '@/app/styles/mixins' as mixins;

.page {
  @include mixins.flex-center;

  min-height: 100vh;
  padding: 1.5rem;
  background: linear-gradient(
    160deg,
    var(--palette-gradient-login-1) 0%,
    var(--palette-gradient-login-2) 45%,
    var(--palette-gradient-login-3) 100%
  );
}
